<form #uploadForm="ngForm">

  Image:
  <input type="file" name="image-file" accept="image/*" ngModel #imageFile>
  <button type="submit" (click) = "upload()">POST TO S3</button>
  <button type="submit" (click) = "uploadToSQL()">POST TO SQL</button>

</form>

<form #retrieveKeyForm="ngForm">

  Retrieve Key:
  <div class="input-group mb-3">
    <input #key type="text" class="form-control" placeholder="key or id" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <button type="submit" (click) = "retrieveKey(key)">Retrieve Image from S3</button>
  <button type="submit" (click) = "retrieveSQLImage(key)">Retrieve Image from SQL</button>

</form>


<br>
<div class="card" style="width: 18rem;" *ngIf="(fileInfo | json) != '{}'">
  <div class="card-body">
    <h5 class="card-subtitle mb-2 text-muted">Name of uploaded file: {{fileInfo.Metadata.originalname}}</h5>
    <h6 class="card-title">Uploaded Time: {{fileInfo.LastModified}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Size: {{fileInfo.ContentLength}} bytes</h6>
    <h6 class="card-subtitle mb-2 text-muted">Uploaded by: {{fileInfo.Metadata.author}}</h6>
    <p class="card-text">Notes: {{fileInfo.Metadata.update}}</p>
  </div>
</div>

<div>
  <img [src]="uploadImg"/>
</div>